
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #87CEEB, #fffaf0);
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #20b2aa;
    padding: 1em;
    color: white;
    text-align: center;
}
nav a {
    margin: 0 1em;
    color: white;
    text-decoration: none;
}
section {
    padding: 2em;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
footer {
    background-color: #20b2aa;
    color: white;
    text-align: center;
    padding: 1em 0;
}
